html{
  display: flexbox;
  background-image: linear-gradient( 108.1deg,  rgba(167,220,225,1) 11.2%, rgba(217,239,242,1) 88.9% );
  opacity: 1;
  filter: alpha(opacity=30);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.App {
  position: relative;
  margin-top: 80px;
  margin-left: -90px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#msgfield {
  margin-left: 0px;
  border: 2px solid; 
  border-radius: 5px;
}

#username{
  height: 50px;
  width: 300px;
  margin-left: 0px;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 30px;

}

::placeholder{
  font-size: larger;
  text-align: left;
  padding-top: 0px;
  padding-left: 5px;
  color: rgb(0, 0, 0);
  opacity: 10;
}

.button {
  
  color: var(--color);
  transition: 0.15s;
  position: absolute;
  left: 1000px;
  top: 520px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  background-color: #ffa260;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  border: 1px;
  border-radius: 10px;
  padding: 1em 2em;
  /*box-shadow: 0 5px rgb(92, 82, 82);*/
}

.note{
  color: rgb(67, 65, 65);
}

.txt_box{
  resize: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.45em);
} 

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

