html{
  background-image: linear-gradient(to top, #d9ded8 0%, #ebc0fd 100%);
  opacity: 1;
  filter: alpha(opacity=30);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.App {
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#msgfield {
  margin-left: 40px;
  border: 2px solid; 
  border-radius: 5px;
}

#username{
  margin-left: 40px;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 30px;

}


::placeholder{
  font-size: larger;
  text-align: left;
  padding-top: 0px;
  padding-left: 5px;
  color: rgb(0, 0, 0);
  opacity: 10;
}

.button {
  
  color: var(--color);
  transition: 0.15s;
  position: absolute;
  left: 370px;
  top: 355px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  background-color: #ffa260;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  border: 1px;
  border-radius: 10px;
  padding: 1em 2em;
  /*box-shadow: 0 5px rgb(92, 82, 82);*/
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.45em);
} 

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

